<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>Assigned To {{ userName }}</h4>
      <hr />
      <div class="row">
        <div class="form-group p-1 col-12">
          <input (input)="onSearch()" name="search" placeholder="Search tasks with keyword" [(ngModel)]="search"
            type="text" id="search" class="form-control" />
        </div>
        <div class="form-group p-1 col-6">
          <select (change)="onSearch()" class="form-control" name="priorityFilter" [(ngModel)]="priorityFilter">
            <option value="-1" disabled hidden>Priority Filter</option>
            <option value="0">No Priority Filter</option>
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
          </select>
        </div>
        <div class="form-group p-1 col-6">
          <select (change)="onSearch()" class="form-control" name="sortConfig" [(ngModel)]="sortConfig">
            <option value="0" disabled hidden>Sort By</option>
            <option value="1">Task Name - ASC</option>
            <option value="-1">Task Name - DESC</option>
            <option value="2">ScheduledDate - ASC</option>
            <option value="-2">ScheduledDate - DESC</option>
            <option value="3">EndDate - ASC</option>
            <option value="-3">EndDate - DESC</option>
          </select>
        </div>
      </div>
      <ul class="list-group">
        <li [ngClass]="{ 'active': id==i+1 }" (click)="toAssignedTask(i + 1)"
          *ngFor="let task of assignedTo; let i = index" class="list-group-item home-list-item">
          <div class="row align-items-center">
            <div class="col-2">
              <h2>{{ i + 1 }}</h2>
            </div>
            <div class="col-8">
              <div class="row">
                {{ task.name }}
              </div>
              <div class="row task-extra">
                <div class="col-4 p-0 task-ass">Created by: <br /> <span class="task-ass-user">
                    {{task.createdByName}}</span></div>
                <div class="col-4 task-ass">Scheduled: <br /> <span class="task-ass-date">
                    {{task.scheduledDate.toString().split("T")[0]}}</span> </div>
                <div class="col-4 task-ass">End: <br /> <span class="task-ass-date">
                    {{task.endDate.toString().split("T")[0]}}</span> </div>
                  </div>
                  <!-- <div class="col-4 task-ass">Status: <br /> <span class="task-ass-status">
                    {{task.status}}</span>
                  </div> -->
                </div>
              </div>
            </li>
          </ul>
        </div>
    
        <div class="col-6">
          <app-view-task [hidden]="selectedTask==null" [task]="selectedTask" [isEdit]="true"> </app-view-task>
        </div>
      </div>
    </div>