<div class="container">
    <h1>View Task</h1>
    <form (ngSubmit)="processTask()" #addTaskForm="ngForm">
  
      <div class="form-group">
        <label for="taskName">Task Name:</label>
        <input disabled [(ngModel)]="taskName" type="text" name="taskName" id="taskName" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="taskDescription">Task Description:</label>
        <input disabled [(ngModel)]="taskDescription" type="text" name="taskDescription" id="taskDescription" class="form-control"   />
      </div>
  
      <div class="form-group">
        <label for="assignee">Assign to:</label>
        <select disabled [(ngModel)]="assignee" name="assignee" id="assignee" class="form-control" required>
          <option *ngFor="let u of users" value="{{u.email}}" >{{u.firstName}} {{u.lastName}}</option>
          
        </select>
      </div>
      <div class="form-group">
        <label for="project">Project:</label>
        <select disabled [(ngModel)]="project" name="project" id="project" class="form-control" required>
          <option value=-1>No Associated Project</option>
          <option *ngFor="let p of projects" value="{{p.id}}" >{{p.name}}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label disabled for="scheduledDate">Scheduled Date:</label>
        <input disabled [(ngModel)]=scheduledDate
         type="date" min="2021-07-06" name="scheduledDate" id="scheduledDate" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="EndDate">End Date:</label>
        <input disabled [(ngModel)]=endDate
         type="date" min="2021-07-06" name="endDate" id="endDate" class="form-control" required />
      </div>
  
      <div class="form-group">
        <label for="priority">Priority</label>
        <select disabled [(ngModel)]=priority class="form-control priority" name="priority" ng-model="priority">
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
        </select>
      </div>
  
      <!-- <div class="form-group">
        <label for="status">Status</label>
        <select [(ngModel)]=status class="form-control status" name="status" ng-model="status">
            <option value="1">Incomplete</option>
            <option value="0">Completed</option>
        </select>
      </div> -->

      <!-- <button type="submit" class="btn btn-success btn-md">Save</button>
    </form>
  </div>
   -->